name: Artifact

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened]
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Update Submodules
      run: git submodule update --init --recursive

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22
        registry-url: https://registry.npmjs.org

    - uses: pnpm/action-setup@v3
      name: Install pnpm
      id: pnpm-install
      with:
        run_install: false

    - name: Get Info
      id: info
      shell: bash
      run: |
        echo "os-release=$(node --eval 'console.log(os.release())')" >> $GITHUB_OUTPUT
        echo "pnpm-cache-dir=$(pnpm store path)" >> $GITHUB_OUTPUT
        echo "ver=v$(node --eval 'console.log(require(`./package.json`).version)')" >> $GITHUB_OUTPUT
  
    - uses: actions/cache@v4
      name: Setup pnpm cache
      with:
        path: ${{ steps.info.outputs.pnpm-cache-dir }}
        key:
          ${{ runner.os }}-${{ steps.info.outputs.os-release }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-${{ steps.info.outputs.os-release }}-pnpm-store-
  
    - name: Install dependencies
      shell: bash
      run: pnpm install

    - name: Build
      shell: bash
      run: pnpm run build

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: onlyoffice-directus-${{ steps.info.outputs.ver }}
        path: |
          dist/
          package.json